#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

#login-form {
  width: 100%;
  max-width: 350px;
}

#login-logo {
  max-width: 175px;
  height: auto;
}

#update-member-form {
  max-width: 500px;
}