<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Approved Application</title>
  </head>
  <body>
    <h3>Dear {{name}},</h3>

    <p>
      We are delighted to inform you that your application for promotion has
      been <b>approved</b> - you are now an Official Member of
      <b>Star Touring Motorcycle Club Philippines (STMCP)</b>!
    </p>

    <p>
      Your commitment, passion, and dedication to our brotherhood have been
      evident, and we're proud to officially welcome you into the circle of
      members who carry our banner with pride and purpose.
    </p>

    <p>
      As an official member, you now enjoy full membership privileges, access to
      exclusive club activities, and the opportunity to contribute to our
      ongoing projects and events.
    </p>

    <p>
      We're excited to have you fully onboard and look forward to seeing you
      grow even further in our community.
    </p>

    <p>
      If you haven't already, please log in to your account using your existing
      credentials to explore the new member dashboard and stay updated on
      announcements and events.
    </p>

    <p>Once again, <b>congratulations and welcome to the STAR family!</b></p>

    <br />

    <p>Warm regards,</p>
    <p style="margin: 0"><b>STMCP Family</b></p>
    <p style="margin: 0">
      <b><a href="mailto:stmcp.admin@stmcp.org">stmcp.admin@stmcp.org</a> | 09404144067</b>
    </p>

    <br />

    <img src="cid:{{one_star_logo}}" alt="One star logo" />
  </body>
</html>
